body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Perspective for 3D effect */
    background-color: aqua;
}

.sphere {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear; /* Animation */
}

.sphere-face {
    width: 100%;
    height: 100%;
    background-color: #f00000;
    border-radius: 50%; /* Make it a circle */
    position: absolute;
    transform-style: preserve-3d;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
